body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
div.utama {
	display: block;
	height: 100%;
	width: 100vw;

	/*justify-content: space-between;*/
}

div.utama nav.navbar {
	display: flex;
	background-color: salmon;
	justify-content: space-evenly;
	align-items: center;
}
div.utama nav.navbar a.watermark {
	display: block;
	color: white;
	text-decoration: none;
	/* font-size: inherit; */
	font-size: 20px;
	pointer-events: none;
	font-weight: bold;
}
a.watermark {
	color: blue;
}
/* div.utama nav.navbar a.navbar-brand{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
} */
div.utama nav.navbar ul.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*flex-direction: row;*/
	align-items: center;
	width: 35%;
	height: 100%;
}
div.utama nav.navbar ul.nav li{
	color: white;
	list-style: none;
	/*flex-direction: row;*/
	/*text-align: center;*/
	/* margin: 0 -10%; */
	/* width: 50%; */
}
div.utama nav.navbar ul.nav li a{
	color: white;
	text-decoration: none;
	padding: 21px 5px;
	font-weight: bold;
	font-size: 20px;
}
div.utama nav.navbar ul.nav li a:hover{
	color: salmon;
	background-color: white;
	font-weight: bold;
	transition: 1s ease;
}
div.utama nav.navbar ul li a.login {
	width: auto;
	height: 100%;
	padding: 10px 10px;
	background-color: rgb(35, 199, 139);
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-radius: 10%;
	
}
div.utama nav.navbar ul li a.login:hover {
	width: auto;
	height: 100%;
	padding: 10px 10px;
	background-color: rgb(19, 124, 85);
	text-decoration: none;
	font-weight: bold;
	color: rgb(228, 228, 228);
	border-radius: 10%;
	box-shadow: 0px 0px 10px #888888;
	transition: all 1s ease;
}
div.utama div.content {
	display: flex;
	
	width: 100%;
	height: 100%;
	align-content: center;
	flex-direction: column;
	/* justify-content: center; */
}
div.utama div.content div.content-pertama{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: rgb(125, 171, 255);
	/* align-content: flex-end; */
	flex-wrap: wrap;
	/* float: left; */
	width: 100%;
	/* height: 200px; */
	align-items: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.utama div.content div.content-kedua{
	display: flex;
	/* flex-direction: row; */
	justify-content: space-evenly;
	background-color: rgb(207, 207, 207);
	/* align-content: flex-end; */
	flex-wrap: wrap;
	/* float: left; */
	width: 100%;
	height: auto;
	align-items: center;
}
img.good{
	display: block;
	margin: 0 auto;
	width: 43%;
	height: 100%;
	border-radius: 10%;
	
	/* padding: 1%; */
}
div.utama div.content div.content-pertama main.main {
	display: block;
	width: 600px;
	/* padding: 5% 15%; */
	/* flex-wrap: wrap; */
	height: 100%;
	order: 1;
}
div.utama div.content div.content-pertama aside.aside {
	display: flex;
	order: 2;
	width: 420px;
	/* padding: 5% 15%; */
	/* flex-wrap: wrap; */
	height: 100%;
	align-items: flex-start;
	/* background-color: #504f4f; */
	/* padding: 2%; */
	/* border: 2px solid black; */
}
div.utama div.content div.content-pertama aside.aside div.side {
	width: 90%;
	display: block;
	/* height: 200px; */
	padding: 5%;
	background-color: #5888cf;
	border-radius: 8px;
	/* padding: 2%; */
	margin: 5px;
}
img.good1 {
	width: 34%;
	height: 34%;
	float: left;
	overflow: auto;
	margin-right: 5%;
}
img.good2 {
	width: 23%;
	height: 23%;
	padding: 20px;
}
div.utama div.content div.content-pertama aside.aside div.side p{
	color: white;
}
div.utama div.content div.content-pertama aside.aside div.side p.qoutes{
	margin-top: 30px;
}
div.utama div.content div.content-pertama aside.aside div.side hr{
	margin-top: 40px;
	/* padding: 10px; */
	width: 380px;
}
div.utama div.content div.content-pertama aside.aside div.side p.nama{
	margin-top: 20px;
	display: block;
}
div.utama div.content div.content-pertama main.main img {
	float: left;
	margin-right: 2%;
}
div.utama div.content div.content-pertama main.main h1 {
	margin-top: -0.1%;
}
div.utama div.content div.content-pertama main.main  p.catatan {
	display: block;
	/* float: right; */
	font-size: inherit;
	font-weight: bold;
	width: 100%;
	height: auto;
	/* margin-top: -3%; */
}
div.utama div.content div.content-pertama main.main  p.terdaftar {
	font-weight: bold;
	color: #5a5a5a;
}

div.utama div.content div.content-kedua aside.aside-2 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* background-color: aliceblue; */
}
div.utama div.content div.content-kedua aside.aside-2 div.isi-side {
	width: 510px;
	/* margin-left: 15%; */
	display: flex;
	flex-direction: column;

}
div.utama div.content div.content-kedua aside.aside-2 div.isi-side h1 {
	display: flex;
	width: inherit;
	height: 60px;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
	color: white;
	background-color: rgb(174, 182, 255);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
div.utama div.content div.content-kedua aside.aside-2 div.isi-side p {
	display: flex;
	width: 470px;
	height: 210px;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
	/* overflow: auto; */
	padding: 20px;
	margin-top: -20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/* text-align: center; */
	background-color: rgb(86, 96, 187);
}

img.good3{
	display: flex;
	width: 300px;
	height: 300px; 
	/* flex: 0.3; */
	/* border: 1px solid black; */
}
/* div.utama div.content div.content1 div.isi img.good3 {
	display: block;
	width: 50%;
	height: 50%;
} */
div.utama div.content h1.ten{
	width: 100%;
	/* height: 200px; */
	margin: 0 0;
	/* padding: 10px; */
	background-color: azure;
	padding: 20px 0;
}
div.utama div.content div.tentang {
	/* width: 100%; */
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: azure;
	padding: 20px 0;
	flex:1;
	/* margin: 0 20px; */
}
div.utama div.content div.tentang img {
	order: 2;
	flex: 1;
}
div.utama div.content div.tentang div.isi {
	/* width: 40%; */
	padding: 20px;
	background-color: rgb(156, 231, 193);
	order: 3;
	flex: 3;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	/* border: 1px solid black; */
}
div.utama div.content div.tentang div.isi-g {
	/* width: 20%; */
	/* height: auto; */
	/* display: flex; */
	display: flex;
	flex-direction: column;
	flex: 1;
	/* border: 1px solid black; */
}
img.good3, div.isi, div.isi-g {
	margin: 0 2%;
}
div.utama div.content div.tentang div.isi-g h3 {
	display: flex;
	width: 100%;
	height: 60px;
	background-color: #868686;
	align-items: center;
	justify-content: center;
	color: white;
	margin-left: 5%;
	border-radius: 5px;
	padding: 5px;
}
div.utama div.content div.tentang div.isi-g ul.golongan li {
	list-style-type: square;
}
img.good4{
	height: 70px;
	width: 70px;
	/* justify-content: center; */
	margin-left: 2%;
}
div.utama div.content h1.hubung {
	text-align: center;
	width: 100%;
	/* height: 200px; */
	margin: 0 0;
	/* padding: 10px; */
	background-color: rgb(255, 224, 166);
	padding: 20px 0;
}
div.utama div.content div.kotak-h {
	display: flex;
	/* width: 100%; */
	/* height: 500px; */
	justify-content: flex-start;
	/* height: auto; */
	flex-wrap: wrap;
	flex: 1;
}
div.utama  div.content div.kotak-h div.hubungi-2 {
	display: block;
	flex: 1;
	margin-left: 0;
	margin: 15px 0;
	/* border: 1px solid black; */
}
div.utama  div.content div.kotak-h div.hubungi-2 iframe.map{
	width: 400px;
	height: 350px;
	/* margin: 2%; */
	float: left;
	overflow: auto;
	margin-right: 1%;
	margin-top: 0;
}
div.utama  div.content div.kotak-h div.hubungi-2 p{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* div.utama  div.content div.kotak-h div.hubungi-2 */
div.utama div.content div.kotak-h div.hubungi {
	display: flex;
	/* width: 1500px; */
	/* height: 100%; */
	flex-direction: column;
	flex: 1;
	/* justify-content: center; */
	align-items: center;
	margin: 20px 0;
	/* border: 1px solid black; */
}
div.utama div.content div.kotak-h div.hubungi div.isi-h{
	display: flex;
	width: 50%;
	height: auto;
	background-color: #868686;
	justify-content: flex-start;
	/* justify-items: center; */
	/* flex-direction: row; */
	align-items: center;
	padding: 2px;
	margin: 5px 0;
	border-radius: 20px;
}
div.utama div.content div.kotak-h div.hubungi div.isi-h a{
	text-decoration: none;
	color: white;
}
div.utama div.content div.kotak-h div.hubungi div.isi-h p{
	margin-left: 4%;
	font-weight: bold;
	font-size: 2rem;
}
div.utama div.content div.kotak-h div.hubungi div.isi-h:nth-child(1){
	background-color: green;
}
div.utama div.content div.kotak-h div.hubungi div.isi-h:nth-child(2){
	background: radial-gradient(circle at 0% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
div.utama div.content div.kotak-h div.hubungi div.isi-h:nth-child(3){
	background-color: rgb(255, 60, 60);
}
footer {
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: center;
	align-items: center;
	background-color: #888888;
}
footer p.footer {
	color: white;
	font-weight: bold;
}
