body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    font-size: 16px;
}
div.utama {
	display: block;
	height: 100%;
	width: 100vw;

	/*justify-content: space-between;*/
}

div.utama nav.navbar {
	display: flex;
	background-color: salmon;
	justify-content: flex-start;
	align-items: center;
}
/* div.utama nav.navbar a.navbar-brand{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
} */
div.utama nav.navbar ul.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*flex-direction: row;*/
	align-items: center;
	width: 35%;
	height: 100%;
}
div.utama nav.navbar ul.nav li{
	color: white;
	list-style: none;
	/*flex-direction: row;*/
	/*text-align: center;*/
	/* margin: 0 -10%; */
	/* width: 50%; */
}
div.utama nav.navbar ul.nav li a{
	color: white;
	text-decoration: none;
	padding: 16.5px 5px;
	font-weight: bold;

}
div.utama nav.navbar ul.nav li a:hover{
	color: salmon;
	background-color: white;
	font-weight: bold;
	transition: 1s ease;
}
div.utama nav.navbar a.login {
	width: auto;
	height: 100%;
	padding: 10px 10px;
	background-color: rgb(35, 199, 139);
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-radius: 10%;
	
}
div.utama nav.navbar a.login:hover {
	width: auto;
	height: 100%;
	padding: 10px 10px;
	background-color: rgb(19, 124, 85);
	text-decoration: none;
	font-weight: bold;
	color: rgb(228, 228, 228);
	border-radius: 10%;
	box-shadow: 0px 0px 10px #888888;
	transition: all 1s ease;
}
div.utama div.content {
	display: flex;
	
	width: 100%;
	height: 100%;
	align-content: center;
	flex-direction: column;
}
div.utama div.content div.content-pertama{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: rgb(231, 231, 231);
	/* align-content: flex-end; */
	flex-wrap: wrap;
	/* float: left; */
	width: 100%;
	/* height: 200px; */
	align-items: center;
}
div.utama div.content div.content-kedua{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: rgb(207, 207, 207);
	/* align-content: flex-end; */
	flex-wrap: wrap;
	/* float: left; */
	width: 100%;
	height: 200px;
	align-items: center;
}
img.good{
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 100%;
	border-radius: 10%;
	
	/* padding: 1%; */
}
div.utama div.content div.content-pertama main.main {
	display: block;
	width: 600px;
	/* padding: 5% 15%; */
	/* flex-wrap: wrap; */
	height: 100%;
}
div.utama div.content div.content-pertama aside.aside {
	display: flex;
	
	width: 420px;
	/* padding: 5% 15%; */
	/* flex-wrap: wrap; */
	height: 100%;
	align-items: flex-start;
	/* background-color: #504f4f; */
	/* padding: 2%; */
	/* border: 2px solid black; */
}
div.utama div.content div.content-pertama aside.aside div.side {
	width: 90%;
	display: block;
	/* height: 200px; */
	padding: 5%;
	background-color: #868686;
	border-radius: 8px;
	/* padding: 2%; */
	margin: 5px;
}
img.good1 {
	width: 34%;
	height: 34%;
	float: left;
	overflow: auto;
	margin-right: 5%;
}
div.utama div.content div.content-pertama aside.aside div.side p{
	color: white;
}
div.utama div.content div.content-pertama aside.aside div.side p.qoutes{
	margin-top: 30px;
}
div.utama div.content div.content-pertama aside.aside div.side hr{
	margin-top: 80px;
	/* padding: 10px; */
	width: 380px;
}
div.utama div.content div.content-pertama aside.aside div.side p.nama{
	margin-top: 20px;
	display: block;
}
div.utama div.content div.content-pertama main.main img {
	float: left;
	margin-right: 2%;
}
div.utama div.content div.content-samping {
	width: 40%;
	height: 100%;
	margin: 2%;
	background-color: #797979;
	border-radius: 5%;
}
div.utama div.content div.content-samping aside.aside-2 {
	display: flex;
	justify-content: flex-start;
	/* flex-direction: row; */
	align-items: flex-start;
	
	width: 100%;
	height: 80%;
	
	padding: 10px;
}
div.utama div.content div.content-samping aside.aside-2 img.good2{
	margin: 5%;
	border-radius: 5%;
	height: 10%;
	width: 10%;
}
div.utama div.content div.content-pertama main.main h1 {
	margin-top: -0.1%;
}
div.utama div.content div.content-pertama main.main  p.catatan {
	display: block;
	/* float: right; */
	font-size: inherit;
	font-weight: bold;
	width: 100%;
	height: auto;
	/* margin-top: -3%; */
}
div.utama div.content div.content-dalam main.main div p.terdaftar {
	display: block;
	/* float: right; */
	font-size: 16px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #504f4f;
	width: 100%;
	margin-top: 3%;
}

